*{
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Exo 2', sans-serif;
}
header{
    background: rgb(174,174,176);
    background: radial-gradient(circle, rgba(174,174,176,1) 0%, rgba(225,225,237,1) 35%, rgba(89,104,107,1) 100%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-size: cover;
    position: fixed;
    width: 100%;
    z-index: 10;
}
main{
    flex-basis: 250px;
    background-size:  cover;
    background-position: right;
    background-blend-mode: multiply;
    margin-top: 65px;
}
#logo{
    width: 250px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.582);
    margin-left: -250px;
}


.el_menu{
    font-size: 2ww;
    margin: 5px 10px 5px 10px;
    border-radius: 10%;
    font-family: 'Russo One', sans-serif;  
    font-size: 24px;
    color: white;
    text-align: center;
    align-self: flex-end;   
}
#menu{
    text-align: start;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    flex-basis: 250px;
    text-align: center;
    max-height: 50px;
    margin: 5px 10px 5px 10px;   
}

header>a, #Menus{
    background-color: darkgrey ;
    flex-basis: 250px;
    text-align: center;
    max-height: 50px;
    margin: 15px 15px 15px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    
}

header>a:hover, #Menus{
    background-color: lightslategray;
    transition: 0.9s;
    box-shadow: 1px 1px 7px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.reference:hover{
    transition: 0.9s;
    box-shadow: 1px 1px 7px lightgrey;
    color: rgb(88, 88, 88);
}
footer{
    flex-basis: 1.5cm;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    border: ivory;
    border-radius: 10px;
    border-style: inset;
    background-color: rgba(2, 9, 19, 0.76);
}
.reference{
  color: white; 
  text-decoration-line: initial; 
  font-family: 'Russo One', sans-serif;
    font-size: 24px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
.icon{
    max-width: 400px;
    max-height: 350px;
    display: flex;
}
@media screen and (max-width: 1050px){
    .icon{
        max-width: 200px;
    }
    html, body{
        width: 100%;
        height: 100%;
    }
}
.downmenu{    
    list-style-type: none;
}
.downmenu>*{
    padding: 5px 0 5px 0;
    border: 1px solid white;
    border-radius: 5px;
    background-color: grey;
}
.downmenu>li>a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.downmenu>li:hover{
    box-shadow: 1px 0px 3px 2px rgb(50, 122, 255);
    transition: 0.7s;
    background-color: dodgerblue;
}

.downmenu{
    position: absolute;
    width: 220px;
    display: none;
    margin-left: 16px;
}

.down:hover .downmenu{
    display: block;
}

#name_holder{
    width: 100%;
    text-align: center;
}

#name_holder>h1{
    padding-top: 20px;
    padding-bottom: 15px;
    color: rgb(233, 233, 233);
}

#main_container{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#intro{
    text-align: center;
    color: rgb(233, 233, 233);
}

.genres{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: justify;
    color: rgb(206, 206, 206);
    justify-content: space-evenly;
}

.img_div{
    background-color: antiquewhite;
}

.p_holder{
    background-color: aquamarine;
    max-width: 30%;
}

.img_div>img{
    border-radius: 35px;
    max-width: 100%;
    max-height: 100%;
}

.p_holder>p{
    padding: 20px;
}

@media screen and (max-width: 900px){
    .img_div{
        max-width: 90%;
        max-height: 100%;
    }
    .p_holder{
        max-width: 90%;
        margin: auto;
    }

    .img_div{
        margin: auto;
    }
    #main_container{
        margin: auto;
    }
}

.reference{
  color: white; 
  text-decoration-line: initial; 
  font-family: 'Russo One', sans-serif;
    font-size: 24px;
}

footer{
    flex-basis: 1.5cm;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-image: url(14_4293_oboi_grafitovyj_uzor_1366x768.jpg);
    background-size: cover;
    background-position: center;
    border: ivory;
    border-radius: 10px;
    border-style: inset;
    background-color: rgba(2, 9, 19, 0.76);
}

main{
    background: rgb(138, 138, 138);
    background: linear-gradient(90deg, rgba(160, 160, 160, 0.61) 0%, rgb(114, 114, 114) 50%, rgba(160, 160, 160, 0.582) 100%);
}

hr{
    height: 1px;
    border: none;
    background-color: black;
}

#selecter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 125px;
}

#selecter>a{
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-size: 1.35em;
    font-weight: 700;
    background-color: rgba(41, 41, 41, 0.384);
    padding: 15px 10px;
    min-width: 100px;
    text-align: center;
    margin: 10px 5px;
}

#intro{
    margin-bottom: 20px;
}

@media screen and (max-width: 1024px){
    main{
        margin-top: 130px;
    }
}

@media screen and (max-width: 425px){
    header{
        position: relative;
    }
    main{
        margin-top: 0;
    }
}
footer>a, #Menu-Contact{
    text-align: center;
    color: white;
    text-decoration: none;
    box-shadow: 1px 1px 7px rgb(0, 0, 0);
}
footer>a:hover, #Menu-Contact{
    transition: 0.9s;
    box-shadow: 1px 1px 7px lightgrey;
}
.upmenu>*{
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: grey;
}
.upmenu>li>a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
.upmenu{
    position: absolute;
    width: 125px;
    display: none;
}
.up:hover .upmenu{
    display:  flex;
    padding-left: 120px;
    padding-bottom: -20px;
    text-decoration: none;
}
.upmenu>li:hover{
    box-shadow: 1px 0px 3px 2px rgb(50, 122, 255);
    transition: 0.7s;
    background-color: dodgerblue;
   
}
#txt{
    font-family: 'Russo One', sans-serif;  
    font-size: 24px;
    color: white;
    text-align: center;
    align-self: flex-end;   
}