*{
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Exo 2', sans-serif;
    background: rgb(174,174,176);
    background: radial-gradient(circle, rgba(174,174,176,1) 0%, rgba(225,225,237,1) 35%, rgba(89,104,107,1) 100%);
}

header{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#logo{
    width: 250px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.582);
    margin-left: -1000px;
}

.el_menu{
    font-size: 2ww;
    margin: 5px 10px 5px 10px;
    border-radius: 10%;
}

#menu{
    text-align: start;
    display: flex;
    background-color: azure;
    flex-basis: 250px;
    text-align: center;
    max-height: 50px;
    margin: 5px 10px 5px 10px;   
}

header>a, #Menus{
    background-color: darkgrey ;
    flex-basis: 250px;
    text-align: center;
    max-height: 50px;
    margin: 15px 15px 15px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgb(0, 0, 0);
}

header>a:hover, #Menus{
    background-color: lightslategray;
    transition: 0.9s;
    box-shadow: 1px 1px 7px lightgrey;
    color: rgb(0, 0, 0);
}

#txt{  
    font-size: 24px;
    color: white;
    text-align: center;
    align-self: flex-end;   
}

.downmenu{    
    list-style-type: none;
    position: absolute;
    width: 220px;
    display: none;
    margin-left: 16px;
}
.downmenu>*{
    padding: 5px 0 5px 0;
    border: 1px solid white;
    border-radius: 5px;
    background-color: grey;
}
.downmenu>li>a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.down:hover .downmenu{
    display: block;
}

#name_holder{
    width: 100%;
    text-align: center;
}

#name_holder>h1{
    padding-top: 20px;
    padding-bottom: 15px;
    color: rgb(206, 206, 206);
}

#main_container{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#main_container>div>h3{
    font-size: 25px;
    font-weight: 700;
}

#intro{
    text-align: center;
    color: rgb(206, 206, 206);
}

.genres{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: justify;
    color: rgb(206, 206, 206);
    justify-content: space-evenly;
}

.img_div{
    background-color: antiquewhite;
}

.p_holder{
    background-color: aquamarine;
    max-width: 30%;
}

.img_div>img{
    border-radius: 35px;
    max-width: 100%;
    max-height: 100%;
}

.p_holder>p{
    padding: 20px;
}

@media screen and (max-width: 900px){
    .img_div{
        max-width: 90%;
        max-height: 100%;
    }
    .p_holder{
        max-width: 90%;
        margin: auto;
    }

    .img_div{
        margin: auto;
    }
}

.reference{
    color: rgb(196, 196, 196); 
    text-decoration-line: initial; 
}

#txt2{
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    text-align: right;
}

#txt3{
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    text-align: left;
}

#txt2, #txt3:hover{
    transition: 0.9s;
    box-shadow: 1px 1px 7px lightgrey;
    color: rgb(255, 255, 255);
}

footer{
    flex-basis: 1.5cm;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-image: url(14_4293_oboi_grafitovyj_uzor_1366x768.jpg);
    background-size: cover;
    background-position: center;
    border: ivory;
    border-radius: 10px;
    border-style: inset;
    background-color: rgba(2, 9, 19, 0.76);
}

main{
    background: rgb(93, 102, 102); 
}

hr{
    height: 1px;
    border: none;
    background-color: black;
}

#selecter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 125px;
}

#selecter>a{
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-size: 1.35em;
    font-weight: 700;
    background-color: rgba(75, 75, 75, 0.384);
    padding: 15px 10px;
    min-width: 100px;
    text-align: center;
    margin: 10px 5px;
}

#intro{
    margin-bottom: 20px;
}


@media screen and (max-width: 700px){
    .img_div{
        display: none;
        
    }
    .p_holder{
        max-width: 100%;
        margin: auto;
    }
    .genres{
        color: rgb(236, 236, 236);
        margin-top: 0.1em;
        display: flex;
        flex-basis: 40%;
    }
    
    #action{
        background-image: url("https://cdn.shazoo.ru/148382_HahfEO3nMT_darksoulsiii_2016_03_26_03_50_31.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0,0,0,.45);
        background-blend-mode: darken
    }

    #simulation{
        background-image: url("https://cdn.shazoo.ru/385359_pwrQb08kSE_xoa3nhz.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0,0,0,.5);
        background-blend-mode: darken
    }

    #quest{
        background-image: url("https://cutewallpaper.org/21/video-game-4k-wallpaper/The-Legend-of-Zelda-Breath-of-the-Wild-Adventure-Video-Game-.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0,0,0,.7);
        background-blend-mode: darken
    }

    #strategy{
        background-image: url("https://wallpapershome.ru/images/wallpapers/varhamer-40000-3840x2160-vaha-strategiya-skrinshot-art-obzor-3721.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0,0,0,.5);
        background-blend-mode: darken
    }

    #puzzle{
        background-image: url("https://main-cdn.goods.ru/big2/hlr-system/1718472/100023216281b1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0,0,0,.7);
        background-blend-mode: darken;
    }

    #rpg{
        background-image: url("https://wallpaperaccess.com/full/636565.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0,0,0,.7);
        background-blend-mode: darken
    }
}



