*{
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Exo 2', sans-serif;
    background: radial-gradient(circle, rgb(143, 143, 143) 0%, rgb(153, 153, 153) 35%, rgb(117, 117, 117) 100%);
}

header{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    user-select: none;
}

#logo{
    width: 250px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.582);
    margin-left: -1000px;
}

.el_menu{
    font-size: 2ww;
    margin: 5px 10px 5px 10px;
    border-radius: 10%;
}

#menu{
    text-align: start;
    display: flex;
    background-color: azure;
    flex-basis: 250px;
    text-align: center;
    max-height: 50px;
    margin: 5px 10px 5px 10px;   
}

header>a, #Menus{
    background-color: darkgrey ;
    flex-basis: 250px;
    text-align: center;
    max-height: 50px;
    margin: 15px 15px 15px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgb(0, 0, 0);
}

header>a:hover, #Menus{
    background-color: lightslategray;
    transition: 0.9s;
    box-shadow: 1px 1px 7px lightgrey;
    color: rgb(0, 0, 0);
}

#txt{  
    font-size: 24px;
    color: white;
    text-align: center;
    align-self: flex-end;   
}

.downmenu{    
    list-style-type: none;
    position: absolute;
    width: 220px;
    display: none;
    margin-left: 16px;
}
.downmenu>*{
    padding: 5px 0 5px 0;
    border: 1px solid white;
    border-radius: 5px;
    background-color: grey;
}
.downmenu>li>a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.down:hover .downmenu{
    display: block;
}

#name_holder{
    width: 100%;
    text-align: center;
}

#name_holder>h1{
    padding-top: 20px;
    padding-bottom: 15px;
    color: rgb(206, 206, 206);
}

.reference{
    color: rgb(196, 196, 196); 
    text-decoration-line: initial; 
}

#txt2{
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    text-align: right;
}

#txt3{
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    text-align: left;
}

#txt2, #txt3:hover{
    transition: 0.9s;
    box-shadow: 1px 1px 7px lightgrey;
    color: rgb(255, 255, 255);
}

footer{
    flex-basis: 1.5cm;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-image: url(14_4293_oboi_grafitovyj_uzor_1366x768.jpg);
    background-size: cover;
    background-position: center;
    border: ivory;
    border-radius: 10px;
    border-style: inset;
    background-color: rgba(2, 9, 19, 0.76);
    user-select: none;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

#canvas_holder{
    text-align: center;
    padding: 100px 0px;
}

#list_holder{
    user-select: none;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Underdog', cursive;
    color: beige;
}

#list_holder>h2{
    padding: 15px;
    color: rgb(240, 157, 23);
}

