*{
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Exo 2', sans-serif;
    background: rgb(174,174,176);
    background: radial-gradient(circle, rgba(174,174,176,1) 0%, rgba(225,225,237,1) 35%, rgba(89,104,107,1) 100%);
}
header{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(14_4293_oboi_grafitovyj_uzor_1366x768.jpg);
    background-size: cover;
}
main{
    background: rgb(71,71,71);
    background: linear-gradient(45deg, rgba(71,71,71,1) 0%, rgba(203,203,203,1) 50%, rgba(51,51,51,1) 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#logo{
    width: 250px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.582);
    margin-left: -1000px;
}


.el_menu{
    font-size: 2ww;
    margin: 5px 10px 5px 10px;
    border-radius: 10%;
    font-family: 'Russo One', sans-serif;  
    font-size: 24px;
    color: white;
    text-align: center;
    align-self: flex-end;   
}
#menu{
    text-align: start;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    flex-basis: 250px;
    text-align: center;
    max-height: 50px;
    margin: 5px 10px 5px 10px;   
}

header>a, #Menus{
    background-color: darkgrey ;
    flex-basis: 250px;
    text-align: center;
    max-height: 50px;
    margin: 15px 15px 15px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    
}

header>a:hover, #Menus{
    background-color: lightslategray;
    transition: 0.9s;
    box-shadow: 1px 1px 7px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.reference:hover{
    transition: 0.9s;
    box-shadow: 1px 1px 7px lightgrey;
    color: rgb(88, 88, 88);
}
footer{
    flex-basis: 1.5cm;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-image: url(14_4293_oboi_grafitovyj_uzor_1366x768.jpg);
    background-size: cover;
    background-position: center;
    border: ivory;
    border-radius: 10px;
    border-style: inset;
    background-color: rgba(2, 9, 19, 0.76);
}
.reference{
  color: white; 
  text-decoration-line: initial; 
  font-family: 'Russo One', sans-serif;
    font-size: 24px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
.icon{
    max-width: 400px;
    max-height: 350px;
    display: flex;
}
@media screen and (max-width: 900px){
    .icon{
        max-width: 200px;
    }
}
.downmenu{    
    list-style-type: none;
}
.downmenu>*{
    padding: 5px 0 5px 0;
    border: 1px solid white;
    border-radius: 5px;
    background-color: grey;
}
.downmenu>li>a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.downmenu>li:hover{
    box-shadow: 1px 0px 3px 2px rgb(50, 122, 255);
    transition: 0.7s;
    background-color: dodgerblue;
}

.downmenu{
    position: absolute;
    width: 220px;
    display: none;
    margin-left: 16px;
}

.down:hover .downmenu{
    display: block;
}

.row_container>a{
    color: black;
    border-radius: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 23%;
    justify-content: space-around;
}

#canvas_holder{
    text-align: center;
    padding: 100px 0px;
}

#list_holder{
    user-select: none;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Underdog', cursive;
    color: beige;
}

#list_holder>h2{
    padding: 15px;
    color: rgb(240, 157, 23);
}

