*{
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(14_4293_oboi_grafitovyj_uzor_1366x768.jpg);
    background-size: cover;
}
main{
    background-image: url("14_4293_oboi_grafitovyj_uzor_1366x768.jpg");
    flex-basis: 1000px;
    background-size:  cover;
    background-position: right;
    background-blend-mode: multiply;
    background-color: rgba(2, 9, 19, 0.76);
}
#logo{
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    
}
.el_menu{
    font-size: 2ww;
    margin: 5px 10px 5px 10px;
    border-radius: 10%;
}
#logoa{
    text-align: start;
    display: flex;
    background-color: azure;
    flex-basis: 250px;
    text-align: center;
    max-height: 50px;
    margin: 5px 10px 5px 10px;
   
}
header>a{
    background-color: green ;
    flex-basis: 250px;
    text-align: center;
    max-height: 50px;
    margin: 15px 15px 15px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgb(0, 0, 0);
}

header>a:hover{
    background-color: greenyellow;
    transition: 0.9s;
    box-shadow: 1px 1px 7px lightgreen;
    color: rgb(0, 0, 0);
}
#txt{
    font-family: 'Russo One', sans-serif;
    
    font-size: 9px;
    text-align: center;
    align-self: flex-end;
    
}
#txt2{
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    text-align: right;
}
#txt3{
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    text-align: left;
}
footer{
    flex-basis: 1.5cm;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-image: url(14_4293_oboi_grafitovyj_uzor_1366x768.jpg);
    background-size: cover;
    background-position: center;
    border: ivory;
    border-radius: 10px;
    border-style: inset;
    background-color: rgba(2, 9, 19, 0.76);
}
.ssilka{
  color: lightgreen; 
  text-decoration-line: initial; 
}
